.wrapper {
  max-width: 70rem;
  margin: 2rem auto;
  padding: 0 1rem;

  /* Divide em colunas */
  display: grid;
  grid-template-columns: 256px 1fr;
  gap: 2rem;
  /* Alinha ao todo com seus tamnhos normais */
  align-items: flex-start;
}

@media (max-width: 768px) {
  /* Dimenciona font-size Mobile - regra de 3 */
  html{
    font-size: 87.5%;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }

}